<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSEOUTCOMES_1007</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Adamina' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#"><img src="{% static 'assets/img/logo.png' %}" style="height:180px;padding:10px;">CVR College of engineering&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <img src="{% static 'assets/img/college-overview.jpg' %}" style="width:50%;height:50%;margin:5%;">
    </div>
        </nav></div>
    <div>
            <a href="{% url 'co' '4-2' %}">
                <button class="btn btn-primary" type="submit" style="margin-left:45%;font-size:20px;"  >CourseOutcomes</button></a>
                <a href="{% url 'po' %}">
            <button class="btn btn-primary" type="submit" style="margin-left:45%;font-size:20px;"  >ProgramOutcomes</button>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
