<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
     {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSEOUTCOMES_1007</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Adamina' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<form>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#"><img src="{% static 'assets/img/logo.png' %}" style="height:180px;padding:10px;">CVR College of engineering&nbsp;</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home' %}" style="color:rgb(0,0,0);font-size:20px;font-family:Adamina, serif;">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}" style="color:rgb(0,0,0);font-size:20px;font-family:Adamina, serif;">Logout</a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <h1 style="padding-left:40%;">FEED-BACK FORM</h1>
    <div class="jumbotron" style="background-color:rgb(235,238,241);margin:5%;">
                <p style="font-family:Adamina, serif;font-size:18px;">Extraordinary:5<br>
                Good:4<br>
                Average:3<br>
                Below Average:2<br>
                Bad:1</p>



                {% for x in q%}
                <form  method='GET' action="{% url 'feedback_save' x.pk %}">
                    {% csrf_token %}
                <div style="padding:2%;">
                {{x.question}}
                <input type="number" min="1" max = "5" name ="ans"  placeholder="EnterFeedBack">
                </div>
                <input  type="Submit"></input>
                </form>
                {% endfor %}


    </div>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>

